    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* Navbar Styling */
    .navbar {
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 15px 20px;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .logo {
        color: white;
        font-size: 24px;
        font-weight: bold;
    }

    .logo span {
        color: #0a97f6;
    }
    .nav-links {
        list-style-type: none;
        display: flex;
        gap: 2rem; /* Space between links */
        transition: all 0.3s ease;
    }

    .nav-links li {
        list-style: none;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    .nav-links a:hover {
        color: #0e8fe7; /* Change color on hover */
    }
    .hamburger {
        display: none; /* Hide by default */
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    #menuToggle {
        display: none; /* Hide the checkbox */
    }
    /* Home Section Styling */
    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Full viewport height */
        background: linear-gradient(#000000, #3877FF);
        text-align: center; /* Center align text */
        padding: 20px;
    }
    #home h1 {
        font-size: 36px;
        margin-bottom: 15px;
        color: black;
    }

    #home h1 span{
        color: white;
    }
    #home h2 {
        font-size: 32px;
        margin-bottom: 15px;
        color: black;
    }
    #home p {
        font-size: 18px;
        margin-bottom: 20px;
        color: white;
        max-width: 600px; /* Limit width for better readability */
    }
    .img-container {
        position: relative; /* For positioning the border */
        display: inline-block; /* Keep the image block-level */
        border: 8px solid #0a97f6; /* Blue border */
        border-radius: 50%; /* Circular border */
        padding: 8px; /* Space between image and border */
        background-color: #fff; /* White background inside border */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    }

    .img {
        width: 250px; /* Set a specific width for the image */
        height: auto; /* Maintain aspect ratio */
        border-radius: 50%; /* Rounded corners for the image */

    }

